@import "../../styles/theme.css";

.button {
  border-radius: 4px;
  appearance: none;
  vertical-align: middle;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  outline: none;
  padding: 6px 10px;
  text-decoration: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;

  &[data-focus-visible] {
    outline-offset: -1px;
  }

  &[data-disabled] {
    border-color: var(--gray-100) !important;
    background: none !important;
    color: var(--gray-200) !important;
    cursor: unset !important;
  }

  &.danger {
    color: var(--button-danger-text-color);
    background-color: var(--button-danger-background);
    border-color: var(--button-danger-border);

    &[data-pressed] {
      &.danger {
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
        background: var(--button-danger-background-pressed);
      }
    }
  }

  &.primary {
    color: var(--button-text-color);
    background: var(--button-background);
    border-color: var(--button-border);

    &[data-pressed] {
      &.primary {
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
        background: var(--button-background-pressed);
      }
    }
  }

  &.secondary {
    color: var(--button-secondary-text-color);
    background-color: var(--button-secondary-background);
    border-color: var(--button-secondary-border);

    &:hover {
      background-color: var(--button-secondary-background-hover);
    }

    &[data-pressed] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: var(--button-secondary-background-pressed);
      border-color: var(--button-secondary-border);
    }
  }

  &.small {
    font-size: 0.75rem;
  }
}
