@import "./styles/theme.css";

:root {
  --application-icon-dimension: 25px;
  --application-title-mw: 50px;
}

.popupContainer {
  min-width: 450px;
  min-height: 355px;
}

.applicationList {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.applicationListItem {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  padding: 15px;
  background-color: var(--pico-card-background-color);
}

.applicationListItemRow {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.applicationItemRowSpacer {
  /* alignment of sub-checkboxes */
  width: calc(var(--application-icon-dimension) + var(--application-title-mw) + 20px);
}

.applicationTitle {
  margin: 0;
  min-width: var(--application-title-mw);
  font-weight: bold;
  color: var(--pico-muted-color);
  font-size: 0.8rem;
}

.applicationIcon {
  width: var(--application-icon-dimension);
  height: var(--application-icon-dimension);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.applicationImageDocs {
  background-image: url("/assets/popup_icons/docs.svg");
}

.applicationImageSheets {
  background-image: url("/assets/popup_icons/sheets.svg");
}

.applicationInputContainer {
  display: flex;
  gap: 10px;
  flex: 1;
}

.applicationZoomCustomInput {
  max-width: 100px;
  margin: 0 !important;
}

.applicationCheckbox {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.applicationCheckbox input {
  margin-right: 8px;
  margin-bottom: 0;
}

.supportMeLinkContainer {
  text-align: center;
  margin-top: 20px;
}
