:root {
  --application-icon-dimension: 25px;
  --application-title-mw: 50px;
}

.popupContainer {
  min-width: 350px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.applicationList {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.applicationListItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 0;
}

.applicationListItemRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.applicationItemRowSpacer {
  /* the magic numbers are the margins of the icon and title elements */
  width: calc(
    var(--application-icon-dimension) + var(--application-title-mw) + 10px +
      15px
  );
}

.applicationTitle {
  margin: 0 10px 0 0;
  min-width: var(--application-title-mw);
  font-weight: bold;
  color: #666;
  font-size: 0.8rem;
}

.applicationIcon {
  width: var(--application-icon-dimension);
  height: var(--application-icon-dimension);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 5px 0 10px;
  padding: 5px 0;
}

.applicationImageDocs {
  background-image: url("/assets/popup_icons/docs.svg");
}

.applicationImageSheets {
  background-image: url("/assets/popup_icons/sheets.svg");
}

.applicationInputContainer {
  display: flex;
}

.applicationZoomInputBase {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.75rem;
}

.applicationZoomCustomInput {
  width: 100px;
  text-align: center;
  margin-left: 10px;
}

.applicationZoomSelectInput {
  appearance: auto;
  -webkit-appearance: button;
  cursor: pointer;
}

.applicationActiveZoomInput {
  background: #82bdda;
  background: rgba(130, 189, 218, 0.3);
  border: 1px solid #3f7e9b !important;
  color: #000 !important;
  font-weight: bold;
}

.applicationCheckbox {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  font-style: italic;
}
